*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#517fa4,#243949);
}
.container{
    width: 1000px;
    height: 700px;
}
.container ul{
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.container ul li{
    width: 200px;
    cursor: pointer;
}
.container ul li img{
    width: 100%;
    height: 110px;
    border: 5px solid transparent;
}
.container ul .big-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 550px;
    background: url("./html.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid transparent;
    transition: 0.5s;
}
.container ul .frame{
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 200px;
    height: 110px;
    border: 5px solid #fff;
    pointer-events: none;
}
.container ul .frame::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 15px;
    background-color: #fff;
    left: calc(50% - 15px);
    top: -18px;
    clip-path: polygon(0 100%,50% 0,100% 100%);
}
.container ul li:nth-child(1):hover ~ .big-img{
    background-image: url("./html.jpg");
}
.container ul li:nth-child(2):hover ~ .big-img{
    background-image: url("./js.jpg");
}
.container ul li:nth-child(3):hover ~ .big-img{
    background-image: url("./PHP.jpg");
}
.container ul li:nth-child(4):hover ~ .big-img{
    background-image: url("./ps.jpg");
}
.container ul li:nth-child(5):hover ~ .big-img{
    background-image: url("./Ai.jpg");
}
.container ul li:nth-child(1):hover ~ .frame{
    left: 0;
}
.container ul li:nth-child(2):hover ~ .frame{
    left: 200px;
}
.container ul li:nth-child(3):hover ~ .frame{
    left: 400px;
}
.container ul li:nth-child(4):hover ~ .frame{
    left: 600px;
}
.container ul li:nth-child(5):hover ~ .frame{
    left: 800px;
}